* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.game-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-menu__title {
    font-size: 40px;
    margin-bottom: 10px;
}

.style-button {
    padding: 10px 15px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.style-button:hover {
    color: white;
    background-color: burlywood;
    border: 1px solid burlywood;
    cursor: pointer;
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 618px;
    height: 618px;
}

.mole {
    background-image: url(./mole.svg);
    background-size: cover;

}






select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    width: 250px;
    height: 45px;
    border: 1px solid #777777;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin-bottom: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select select, .select::after {
    grid-area: select;
}
.select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: #777777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}
select[multiple] {
    padding-right: 0;
   /* * Safari will not reveal an option * unless the select height has room to * show all of it * Firefox and Chrome allow showing * a partial option */
    height: 6rem;
}
select[multiple] option {
    white-space: normal;
    outline-color: var(--select-focus);
}
.select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
}
label {
    font-size: 1.125rem;
    font-weight: 500;
}
.select + label {
    margin-top: 2rem;
}
